POSTGRES_DB=betwallet
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB_PORT=5432

LOCAL_STACK_SERVICES=sqs
LOCAL_STACK_REGION=us-east-1
LOCAL_STACK_PORT=4566

KEYCLOAK_ADMIN=root
KEYCLOAK_ADMIN_PASSWORD=root
KEYCLOAK_PORT=8081